In [12]:
import pandas as pd
df_deaths= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv') 
df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [19]:
today_date = df_deaths.columns[-1]

In [20]:
today_date

'10/5/20'

In [21]:
sum(list(df_deaths[today_date]))

1043061

In [24]:
import plotly.graph_objects as go
df_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,39192,39227,39233,39254,39268,39285,39290,39297,39341,39422
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,13153,13259,13391,13518,13649,13806,13965,14117,14266,14410
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,50914,51067,51213,51368,51530,51690,51847,51995,52136,52270
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1836,1836,1966,1966,2050,2050,2110,2110,2110,2370
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4672,4718,4797,4905,4972,5114,5211,5370,5402,5530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,38253,38703,39121,39541,39899,40322,40766,41078,41498,41957
262,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2030,2030,2031,2031,2034,2039,2040,2041,2041,2041
264,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,14612,14641,14660,14715,14759,14802,14830,14974,15052,15089
265,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,7803,7812,7816,7837,7838,7850,7858,7885,7888,7898

In [46]:
fig = go.Figure()
fig.add_trace(go.Scattergeo(
        lon = df_confirmed['Long'],
        lat = df_confirmed['Lat'],
        text = df_confirmed[today_date],
        marker = dict(
            size = df_confirmed[today_date]/10000,
            color = "purple",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Confirmed"))
fig.add_trace(go.Scattergeo(
        lon = df_deaths['Long'],
        lat = df_deaths['Lat'],
        text = df_deaths[today_date],
        marker = dict(
            size = df_deaths[today_date]/10000,
            color = "red",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Deaths"))
fig.add_trace(go.Scattergeo(
        lon = df_recovered['Long'],
        lat = df_recovered['Lat'],
        text = df_recovered[today_date],
        marker = dict(
            size = df_recovered[today_date]/10000,
            color = "green",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Recovered"))

fig.add_trace(go.Scattergeo(
        lon = df_recovered['Long'],
        lat = df_recovered['Lat'],
        text = df_recovered["Country/Region"],
        marker = dict(
            size = df_recovered[today_date]/10000,
            color = "beige",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Country Name"))


fig.update_layout(
        showlegend = True,
        geo = dict(
            landcolor = 'rgb(217, 217, 217)',
        )
    )


fig.write_html("templates/map.html")